:root{
    --dominant-colour: #2196F3;
    --title-colour: #212121;
    --text-colour:#757575;
    --translucent-contact-color: rgba(255, 255, 255, 0.6);
    --light-theme-logo: #FFFFFF;
    --dark-theme-logo: #000000;
    --button-filters-background:#F5F4FA;
}


body{
    font-family: 'Roboto', 'Verdana' ,'Tahoma' ,sans-serif;
    font-size: 14px;
    background-color: var(--light-theme-logo);
    letter-spacing: 0.03em;
    color: var(--title-colour)
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
 
ul {
    list-style: none;
}

    /* utils */

.link{
    text-decoration: none;
    display: block;
}

.section-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.list {
    padding: 0;
    margin: 0;
}

    /* header */

.container{
    justify-content: space-between;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;;
}

.logo{
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--dark-theme-logo);
}

.accent{
    color:var(--dominant-colour)
}

.header-nav-link,
.header-contacts-link{
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color:var(--title-colour)
}

.header-contacts-link{
    color:var(--text-colour)
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.current{
    color: var(--dominant-colour);
}
.header-nav-item:not(:last-child),
.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-item,
.header-contacts-item{
    display: inline-block;
}

.header,
.header-nav, 
.header-contacts-list {
    display: flex;
    align-items: center;
}


        /* hero */

.hero{

    background: #2F303A;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: var(--light-theme-logo);
}

.hero-btn{
    background: var(--dominant-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:var(--light-theme-logo);                
    border: none;
    padding: 10px 32px;
}

    /* benefits */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    /* benefits */

.benefits-title{
    font-weight: 700;
    font-size: 14px;          
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text{
    line-height: 1.71;
    color: var(--text-colour)
}

    /* team */

.team{
    background:var(--button-filters-background);
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-position{
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
    color:var(--text-colour);
}

    /* footer */

.footer{
    background-color:#2F303A;
}

.footer .logo{
    color: var(--light-theme-logo);
}

.address{
    font-style: normal;   
}

.adress-link{
    line-height: 1.71;
    color:var(--light-theme-logo)
}

.footer .header-contacts-link{
    font-weight: 400;
    color:rgba(255, 255, 255, 0.6);;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.current{
    color: var(--dominant-colour);
}

    /* portfolio */

.filters-btn{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
    color: var(--title-colour);
    background: var(--button-filters-background);
    border-radius: 4px;
    border: none;
}

.filters-btn:hover,
.filters-btn:focus{
    cursor: pointer;
    color: var(--light-theme-logo);
    background:var(--dominant-colour);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-btn.active{
    background: var(--dominant-colour);
    color: var(--light-theme-logo)
}

.cards-item{
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE
}

.cards-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-colour);
}

.cards-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-colour);
}